.loader {
  position: fixed;
  inset: 0;
  
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  min-height: 100svh;
  color: var(--dark);

  .loader__bar {
    background-color: hsl(0, 0%, 90%);
  }

  .loader__logo {
    position: absolute;
    align-self: center;
    justify-self: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 6px;
  }
}
