.horizontal-container {
  overflow: hidden;
}

.horizontal {
  display: flex;
}

.horizontal__section {
  min-width: 80svw;
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blueviolet;

  &:nth-child(even) {
    background-color: beige;
  }
}
