:root {
  font-family: sans-serif;

  --primary: hsl(0, 100%, 80%);
}

.box {
  --size: 2rem;

  width: var(--size);
  aspect-ratio: 1 / 1;
  background-color: var(--primary);
  margin-bottom: 1rem;
}
