:root {
  font-family: sans-serif;

  --primary: hsl(0, 100%, 80%);
}

.box {
  --size: 10rem;

  width: var(--size);
  aspect-ratio: 1 / 1;
  background-color: var(--primary);
  margin-bottom: 1rem;
}

.box--green {
  background-color: green;
}

.box--orange {
  background-color: orange;
}

.box-gray {
  background-color: gray;
}
