:root {
  font-family: sans-serif;

  --primary: hsl(0, 100%, 80%);
}

.scene {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  z-index: -1;
}

section {
  min-height: 100svh;
}
